.music-info {
  height: 70px;
  background-color: #181818;
  bottom: 15px;
  position: fixed;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 170px);
  justify-content: center;
  left: 170px;
  border-top: solid 1px #1f1f1f;
  align-items: center;
}

.seek-bar-container {
  display: flex;
  gap: 5px;
  font-size: x-small;
  color: gray;
  font: spotifyFont;
  align-items: center;
}
.music-player {
  display: flex;
  align-items: center;
  gap: 15px;
}
.seek-bar {
  width: 300px;
  height: 4px;
  border-radius: 20px;
  background-color: #5e5e5e;
}
.music-player img {
  height: 22px;
  width: 22px;
}
.play-pause-song {
  background-color: white;
  border-radius: 50%;
  padding: 2px;
}
