.countries-container {
  overflow-y: scroll;
  list-style: none;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  height: 200px;
  position: absolute;
  gap: 5px;
  z-index: 2;
  background-color: rgb(155, 128, 128);
}
