.countries-list-menu {
  position: fixed;
  z-index: 1;
  border-radius: 25px;
  height: calc(100vh - 70px);
  background-color: rgba(0, 0, 0, 0.97);
  top: 70px;
  right: 0px;
  width: calc(100vw - 230px);
  display: flex;
  overflow: hidden;
  font-family: spotifyFont;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.country-input {
  padding: 10px;
  background-color: rgb(31, 28, 28);
  color: white;
  font-family: spotifyFont;
  font-size: 14px;
  border: none;
  text-align: center;
  border-bottom: solid 1px white;
  width: 150px;
}
.country-input:focus {
  outline: none;
}
.country-list {
  background-color: rgb(31, 28, 28);
  width: 400px;
  height: 300px;
  text-align: center;
  border-radius: 30px;
  overflow-y: scroll;
}

.country-item {
  padding: 15px;
  font-size: small;
  color: whitesmoke;
  font-family: spotifyFont;
  border-bottom: 1px solid rgb(48, 36, 36);
}
