.countries-list-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  width: calc(100% - 170px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.926);
}

.country-list {
  background-color: rgb(31, 28, 28);
  width: 400px;
  height: 300px;
  text-align: center;
  border-radius: 30px;
  overflow-y: scroll;
}

.country-item {
  padding: 15px;
  font-size: small;
  color: whitesmoke;
  font-family: spotifyFont;
  border-bottom: 1px solid rgb(48, 36, 36);
}
