.navbar {
  background: #222222;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;

  flex-basis: auto;
  grid-column: 2/3;
  align-items: center;
  font-family: spotifyFont;
}

.forward-button {
  margin-right: auto;
}

.song-input {
  margin-left: 10px;
  flex-grow: 1;
  width: max-content;
  padding: 8px 0px;
  padding-left: 30px;
  background: white url(../../images/search_black_24dp.svg) left no-repeat;
  background-size: 25px;
  border: none;
  border-left: 10px solid transparent;
  border-radius: 25px;
  font-size: 10px;
  font-family: spotifyFont;
}

.song-input:focus {
  outline: none;
}

::placeholder {
  font-size: 10px;
  font-family: spotifyFont;
}

.premium,
.support,
.signup {
  padding: 5px 15px;
  text-decoration: none;
  font-size: smaller;
  color: darkgray;
  letter-spacing: 1.2px;
  overflow: ellipsis;
  white-space: nowrap;
}

.signup {
  letter-spacing: 0;
  font-size: 14px;
  padding: 5px 30px;
}
.support {
  border-right: solid 1px white;
}

.login {
  padding: 9px 30px;
  border: none;
  background-color: white;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 25px;
  margin: 7px 0px;
  margin-right: 30px;
}

.forward-button,
.back-button {
  background-color: rgba(0, 0, 0, 0.226);
  border: solid 1px transparent;
  color: darkgrey;
  margin-left: 20px;
  font-size: x-large;
  border-radius: 50%;
}
