.sidebar {
  background-color: black;
  display: flex;
  padding: 20px;
  gap: 10px;
  flex-direction: column;
  font-family: spotifyFont;
  font-weight: 550;
  width: 130px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 2px;
}

.logo-container img {
  height: 40px;
}

.logo,
.home,
.playlist-button,
.downloads,
.browse-youtube,
.github-link,
.search-bar {
  text-decoration: none;
  color: darkgray;
  font-size: 13px;
}

.home:hover,
.playlist-button:hover,
.downloads:hover,
.browse-youtube:hover,
.github-link:hover,
.search-bar:hover {
  text-decoration: none;
  color: white;
}

.home-container,
.playlist-button-container,
.downloads-container,
.browse-youtube-container,
.github-link-container,
.search-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-container img,
.playlist-button-container img,
.downloads-container img,
.browse-youtube-container img,
.github-link-container img,
.search-bar-container img {
  height: 30px;
}

.logo {
  font-size: x-large;
  color: white;
  font-weight: 900;
}

.github-link-container {
  margin-top: 50px;
}
