:root {
  --navbar-background-color: #222222;
}

body {
  background-color: #121212;
  max-height: 100vh;
  height: 100vh;
}

.no-scroll {
  overflow: hidden;
}
/* width */
::-webkit-scrollbar {
  display: none;
}
.App {
  display: grid;
  grid-template-columns: 230px auto;
}

@font-face {
  font-family: spotifyFont;
  src: url("/src/fonts/Circular/CircularStd-Bold.otf");
}
